.btn:link, .btn:visited, .header__navigation_item {
  text-transform: uppercase;
  text-decoration: none; }

.table, .feedback_category {
  border: 2px solid #CCC;
  border-radius: 1rem;
  width: 80vw;
  margin: 0 auto;
  background-color: #FFF; }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  box-sizing: border-box;
  background-color: #DDD; }

.btn:link, .btn:visited {
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem; }

.btn--blue {
  border-radius: 1rem;
  padding: 1rem;
  font-size: 1.5rem;
  border: none;
  background-color: #3d6d99;
  color: #FFF;
  outline: none; }
  .btn--blue:hover {
    background-color: #0b4e8b;
    cursor: pointer; }
  .btn--blue:active {
    background-color: #0b4e8b;
    transform: translateY(0.1rem);
    cursor: pointer; }

.header {
  background: linear-gradient(#0b4e8b, #3d6d99);
  padding: 10px;
  position: relative; }
  .header__title {
    color: #FFF;
    font-size: 1.8rem; }
  .header__navigation {
    float: left; }
  .header__navigation_item {
    color: #fff;
    font-size: 1.4rem; }
  .header__logo_container {
    float: left; }
  .header__logo {
    width: 60px; }
  .header::after {
    content: "";
    display: table;
    clear: both; }

.main {
  padding: 1.5rem; }

.table__title {
  border-bottom: 1px solid #CCC;
  font-size: 1.6rem;
  text-align: left;
  margin: 0;
  padding: 0 0.7rem; }

.table__line:hover {
  background-color: #EEE;
  border-radius: 1rem; }

.table__content {
  font-size: 1.6rem;
  text-align: left;
  margin: 0;
  padding: 0 0.7rem; }

.feedback_category {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  box-shadow: 5px 5px 5px #ccc; }
  .feedback_category__title {
    font-size: 2rem;
    font-weight: 700; }

.form_field {
  padding: 0.5rem 0; }
  .form_field__label {
    display: inline-block;
    padding-right: 0.5rem;
    width: 40rem;
    height: 100%; }

.textfield {
  border: 0.1rem solid #CCC;
  border-radius: 0.5rem;
  line-height: 2rem;
  padding: 0.5rem;
  outline: none;
  color: #777; }
  .textfield--small {
    width: 6rem; }
  .textfield--medium {
    width: 16rem; }
  .textfield--multiline {
    display: inline-block;
    width: 400px;
    height: 80px; }
